<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

  <properties resource="database/db.properties" />

  <typeAliases>
     <typeAlias alias="Sales" type="dao.tables.Sales" />
	 <typeAlias alias="Address" type="dao.tables.Address" />
	 <package name="dao.tables" />
  </typeAliases>
  
  <environments default="development">
    <environment id="development">
      <transactionManager type="JDBC"/>
      <dataSource type="POOLED">
        <property name="driver" value="${jdbc.driver}"/>
        <property name="url" value="${jdbc.host}"/>
        <property name="username" value="${jdbc.user}"/>
        <property name="password" value="${jdbc.password}"/>
      </dataSource>
    </environment>
  </environments>
  <mappers>
    <mapper resource="database/mybatis/mapperSale.xml"/>
	<mapper resource="database/mybatis/mapperAddress.xml"/>
  </mappers>
</configuration>